body{padding:0 5%;}

.navbar-brand{font-style: italic;}

.PhotoCollection{padding: 0 4%;}

.rounded{height:150px; width:145px; margin-left: 30px;}


.container-fluid{background-color:#9D3C72;
padding: 0 4%; }

h3{color:#FFEA20}
.Ads-line{font-size: larger;font-weight: 900;}